# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.development
.env.production

# Debugging and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
rates_response.json

# OS files
.DS_Store
Thumbs.db
